@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*{
  margin:0;
  padding:0;
  font-family: 'Josefin Sans';
}
body {
  background-color:rgba(65, 105, 225, 0.671);
}

#show-modal {
  color:#444;
  height:70px;
  background-color:#fff;
  cursor: pointer;
  display:flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  width:100%;
  transition:.1s;
  font-size:18px;
}
#show-modal:hover{
  background-color:#444;
  color: #f7f7f7;
  transition:.5s;
}
/* Bookmarks */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  background:url('./black-linen.png');
  background-color: rgba(68, 68, 68, 0.5);
  color: white;
  padding:10px 15px;
  margin: 10px;
  border-radius:3px;
}
a {
  font-size: 18px;
}

a:link,
a:visited {
  color: white;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

.fa-times {
  float: right;
  color: #dfdfdf;
  cursor: pointer;
  z-index: 2;
  font-size: 13px;
}

.name {
  margin-top: 20px;
  margin-right: 20px;
}

.name img {
  height: 20px;
  width: 20px;
  vertical-align: sub;
  margin-right: 5px;
}

/* Modal */
.modal-container {
  background: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.show-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #fff;
  box-shadow: 0 0 10px rgba(41, 40, 40, 0.8);
  max-width: 95%;
  width: 500px;
  animation: modalopen 1s;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.close-icon {
  float: right;
  color: white;
  font-size: 20px;
  position: relative;
  top:20px;
  right: 25px;
  cursor: pointer;
}

.modal-header {
  color: #fff;
  background-color: royalblue;
  padding:20px;
}
.modal-content {
  padding: 20px;
  background: whitesmoke;
}

/* Form */
.form-group {
  height: 55px;
}

.form-input {
  width: 97%;
  padding:7px 5px;
  display: block;
  outline: none;
  border:1px solid rgba(65, 105, 225, 0.521);
  border-radius:3px;
  color: #444;
}

.form-label {
  display: block;
  margin:15px 0px 5px 0px;
}

button {
  cursor: pointer;
  color: white;
  border: none;
  padding:10px 0px;
  width:100%;
  margin-top: 10px;
  font-size:16px;
  letter-spacing: 1px;
  background-color:royalblue;
  border-radius:3px;
}

button:hover {
  background-color:#444;
}

button:focus {
  outline: none;
}
/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}
